<%= form_for @notebook, :html => { :multipart => true, :role => "form"} do |f| %>

<div class="row">
    <div class="col-md-4">
	  <div class="form-group">
	  	<%= f.label :title %>
		<%= f.text_field :title, class: "form-control" %>
	  </div>
	
    <div class="form-group">
      <%= f.label 'Notebook ipynb file'%>
      <%= render "attachments/attachment_form", :f => f %>
    </div>

	  <div class="form-group">
	    <%= f.submit "Submit", class: "btn btn-primary" %>
	    <%= f.submit "Cancel", class: "btn btn-secondary", name: "cancel_button" %>
	  </div>
    </div>
  </div>
<% end %>
