<p>
<table class="table table-striped">
	<thead>
	  <tr>
	    <th>Title</th>
	    <th>Owner</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Action(s)</th>
	  </tr>
	</thead>
	
	<tbody>
  <% notebooks.each do |notebook| %>
    <tr>
      <td><%= link_to notebook.title, notebook_path(notebook) %></td>
      <td><%= notebook.owner %></td>
      <td><%= time_ago_in_words(notebook.created_at) %> ago</td>
      <td><%= time_ago_in_words(notebook.updated_at) %> ago</td>
      <td>
        <% if policy(notebook).update? %>
        	<%= link_to edit_notebook_path(notebook), 
        	  class: "d-inline btn btn-light btn-inverse btn-sm", title: "Edit" do %>
	          <i class="fa fa-pencil"></i> 
	        <% end %>  
	        <span class="ml-1"/>
	      <% end %>
        <% if policy(notebook).destroy? %>
          <%= link_to notebook, method: :delete, data: { title: 'Are you sure?', 
                                                         confirm: "Remove notebook ##{notebook.id}?",
                                                         commit: 'Yes',
                                                         cancel: 'No, cancel' }, 
                  class: "d-inline btn btn-light btn-inverse btn-sm text-danger", title:"Delete" do %>
            <i class="fa fa-close"></i> 
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</p>


