<p>
<table class="table table-striped">
	<thead>
	  <tr>
	    <th>#</th>
	    <th>Owner</th>
        <th>Creation</th>
        <th>Action(s)</th>
	  </tr>
	</thead>
	
	<tbody>
  <% for notebook in notebooks %>
    <tr>
      <td><%= link_to "Notebook ##{notebook.id}", notebook_path(notebook) %></td>
      <td><%= notebook.owner %></td>
      <td><%= time_ago_in_words(notebook.updated_at) %> ago</td>
      <td>
        <% if policy(notebook).destroy? %>
          <%= link_to 'Delete', notebook, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% else %>
          None
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</p>

<p>
  <%= link_to "New Notebook", new_notebook_path, class: "btn btn-primary" %>
</p>

