<div class="btn-toolbar float-right">  
<% if policy(@notebook).edit? %>
  <%= button_to edit_notebook_url(@notebook), method: :get, class:"btn" do |b|%>
    <span class="fa fa-edit"></span>
      Edit
  <% end %>
<% end %>
<% if policy(@notebook).destroy? %>      
  <%= button_to notebook_url(@notebook), method: :delete, data: { title: 'Are you sure?', 
                                                                  confirm: "Remove #{@notebook.title} notebook?",
                                                                  commit: 'Yes',
                                                                  cancel: 'No, cancel' }, 
                  class: "btn ml-2", title:"Delete" do %>
    <span class="fa fa-times"></span>
      Delete
  <% end %> 
<% end %>  
  <%= button_to notebooks_url, method: :get, class:"btn ml-2" do |b|%>
    <span class="fa fa-window-close"></span>
      Close
  <% end %>      
</div>

<h1><%= @notebook.title %></h1>

<p>
<small>created from <%= link_to @notebook.attachment.data_file_name, attachment_path(@notebook.attachment) %> by <%= @notebook.owner.login %></small>
</p>
<iframe width="1000" height="1000" src=<%= attachment_url(@notebook.attachment, :format => "notebook_view") %>>
</iframe>
