<h1>User <%= @user.login %></h1>

<table class="table" id="user">
  <tr>
    <th width="20%">Email</th>
    <td width="20%"><%= @user.email %></td>
    <td width="60%"></td>
  </tr>
  <tr>
    <th class="align-middle">Api Key</th>
    <td class="align-middle">
      <div id="user-api-key"><%= @user.api_key %></div>
    </td>
    <td class="align-middle"><button id="reset-api-key" type="button" class="btn btn-primary">Reset</button></td>
  </tr>
</table>

<% content_for :document_ready do %>
  let relRoot = "<%= Rails.application.config.action_controller.relative_url_root %>";
  let view = new App.UserShow(relRoot, "<%= current_user.id %>");
  view.start();
<% end %>