<p>
<table id="optimizations" class="table table-striped">

  <thead>
    <tr>
      <th style="5%" data-sort-ignore="true"></th>
      <th style="10%">Optim #</th>
      <th style="20%">Optimizer</th>
      <th style="10%">Nb Inputs</th>
      <th style="10%">Nb Objectives</th>
      <th style="10%">Nb Constraints</th>
      <th style="15%">History</th>
      <th style="20%">Status</th>
      <th style="20%">Created</th>
<% if current_user.admin? %>
      <th>Owner</th>
<% end %>
    </tr>
  </thead>

  <tbody>
    <% @optimizations.each do |optim| %>
    <tr class='table_row'>
      <td><%= check_box_tag 'optimization_request_ids[]', 
                            optim.id, 
                            false, 
                            class: "checkbox_child #{optim.status || "empty"}" %></td>
      <td><%= link_to optimization_path(optim), title: "View" do %>
            Optim #<%= optim.id %>
        <% end %></td>
      <td><%= optim.kind %></td>
      <td><%= optim_input_dim(optim) %></td>
      <td><%= optim.n_obj %></td>
      <td><%= optim_cstrs_dim(optim) %></td>
      <td><%= optim_history(optim) %></td>
      <td><a href="#"style="<%=status_display(optim.outputs["status"])[0] %>" data-bs-toggle="tooltip" title=<%= status_text(optim.outputs["status"]) %>>
        <i class="<%= status_display(optim.outputs["status"])[1] %>"></i>
      </a></td>
      <td><%= optim.created_at.strftime("%d/%m/%Y, at %I:%M%p") %></td>
<% if current_user.admin? %>
      <td><%= optim.owner.login %></th>
<% end %>
    </tr>
    <% end %>
  </tbody>
</table>
</p>