<h2>Compare <%= @compare_optimizations_list.length %> optimizations : Optim #<%= params[:optim_list].join(', Optim #') %></h2>

<%= content_tag :div, id: "optimization_plot", optimization_data: @compare_optimizations_list.to_json, type: "compare" do %>
<% end %>

<%= render partial: "optimization_infos", locals: { optimizations: @compare_optimizations_list } %>

<%= javascript_pack_tag 'optview_application' %>