<h2>Compare <%= @compare_optimizations_list.length %> optimizations : Optim #<%= params[:optim_list].join(', Optim #') %></h2>

<div id="optim_viewer" optimization_data="<%=@compare_optimizations_list.to_json %>" type="compare"></div>

<%= render partial: "optimization_infos", locals: { optimizations: @compare_optimizations_list } %>

<%= javascript_pack_tag 'optim_viewer_application' %>