<%= form_tag select_optimizations_path, method: "post" do %>

<h1>Optimizations</h1>

<div class="btn-toolbar float-right">
  <div id="need_selected" style="margin-right:20px;">
    <%= submit_tag "Delete selected", class: 'btn btn-danger btn-xs', name: 'delete', data: { title: 'Are you sure?', 
                                                              confirm: "Remove optimizations?",
                                                              commit: 'Yes',
                                                              cancel: 'No, cancel' }%>
    <%= submit_tag "Plot selected", class: 'btn btn-primary btn-xs'%>
  </div>
  <%= link_to 'New', new_optimization_path, class: "btn btn-primary" %>
</div>


<ul class='hidden_list'>
  <li><input type="checkbox" id="selectAll"><label for="selectAll" style="padding-left:10px">Select All</label></li>
  <li>
    <input type="checkbox" id="selectStatus"><label for="selectStatus" style="padding-left:10px">Select by Status</label>
    <select id="status-select">
      <option value="empty">Empty</option>
      <option value="<%= Optimization::OPTIMIZATION_ERROR %>">Optimization Error</option>
      <option value="<%= Optimization::RUNTIME_ERROR %>">Runtime Error</option>
      <option value="<%= Optimization::INVALID_POINT %>">Invalid Point</option>
      <option value="<%= Optimization::PENDING %>">Pending</option>
      <option value="<%= Optimization::RUNNING %>">Running</option>
      <option value="<%= Optimization::VALID_POINT %>">Valid Point</option>
      <option value="<%= Optimization::SOLUTION_REACHED %>">Solution Reached</option>
    </select>
  </li>
</ul>

<div id="optimizations">
  <% if @optimizations.length > 0 %>
    <%= render 'optimizations' %></div>
  <% else %>
    <table id="optimizations" class="table">
      <thead>
        <tr>
          <th>No Optimization was found. If you want to run one :</th>
        </tr>
      </thead>
      <tbody>
        <tr class='table_row'>
          <td>If you haven't checked it already, here is the <%= link_to "part 2 of the tutorial", "https://github.com/OneraHub/WhatsOpt-Doc/blob/master/whatsopt_tutorial_part_2.md" %>.</td>
        </tr>
        <tr class='table_row'>
          <td>You can follow the <%= link_to "optimization REST API Doc", api_doc_path %>, and get all you need.</td>
        </tr>
        <tr class='table_row'>
          <td>Or you can read the <%= link_to "full WhatsOpt Doc", "http://github.com/OneraHub/WhatsOpt-Doc" %>, and get all the informations.</td>
        </tr>
      </tbody>
    </table>
  <% end %>


<% content_for :document_ready do %>
<script type="text/javascript">

$("#need_selected").hide();

$('[data-bs-toggle="tooltip"]').tooltip();

$("#selectAll").change(function() {
  checked = this.checked;

  $('.checkbox_child').map(function () { 
    $(this).prop('checked', checked);
  })

  $("#selectStatus").prop('checked', checked)
  update_checkbox_count()
})


$("#selectStatus").change(function() {
  checked = this.checked;
  status = $("#status-select").val()

  $('.checkbox_child').map(function () { 
    if (~$(this).attr('class').indexOf(status)) {
      $(this).prop('checked', checked);
    }
  })
  update_checkbox_count()
})

$("#status-select").change(function() {
  $("#selectStatus").prop('checked', false)
})

$('.checkbox_child').change(function() {update_checkbox_count()})

function update_checkbox_count() {
  $('#display_checkbox_count').text(($('.checkbox_child:checked').length===0) ? "_" : "(" + $('.checkbox_child:checked').length + "/" + $('.checkbox_child').length + ")" );
  
  $('.checkbox_child').map(function () { 
    $(this).parent().parent().removeClass( (this.checked) ? "" : "table-primary" ).addClass( (this.checked) ? "table-primary" : "");
  })

  if ($('.checkbox_child:checked').length == $('.checkbox_child').length) {
    $("#selectAll").prop('checked', true)
  } else {
    $("#selectAll").prop('checked', false)
  }

  if ($('.checkbox_child:checked').length > 0) {
    $("#need_selected").show();
  } else {
    $("#need_selected").hide();
  }
}

</script>
<% end %>
<% end %>