<h1>Optimizations</h1>

<% if @optimizations.length > 0 %>

  <%= form_tag select_optimizations_path, method: "post" do %>

    <div class="btn-toolbar float-end">
      <div id="need_selected" style="margin-right:20px;">
        <%= submit_tag "Show", class: 'btn btn-primary btn-xs'%>
        <%= submit_tag "Delete", class: 'btn btn-danger btn-xs', name: 'delete', 
                                 data: { confirm: "Remove selected optimizations?" }%>
      </div>
    </div>

    <div class="form-check form-check-inline ms-2">
        <input class="form-check-input me-1" type="checkbox" id="selectAll">
        <label class="form-check-label" for="selectAll">All</label>
    </div>
    
    <div class="form-check form-check-inline ms-5">
        <input class="form-check-input" type="checkbox" id="selectStatus">
        <label class="form-check-label" for="selectStatus">By Status</label>
    </div>

    <div class="form-check form-check-inline">
        <select id="status-select" class="form-select form-check-inline">
          <option value="empty">Empty</option>
          <option value="<%= Optimization::OPTIMIZATION_ERROR %>">Optimization Error</option>
          <option value="<%= Optimization::RUNTIME_ERROR %>">Runtime Error</option>
          <option value="<%= Optimization::INVALID_POINT %>">Invalid Point</option>
          <option value="<%= Optimization::PENDING %>">Pending</option>
          <option value="<%= Optimization::RUNNING %>">Running</option>
          <option value="<%= Optimization::VALID_POINT %>">Valid Point</option>
          <option value="<%= Optimization::SOLUTION_REACHED %>">Solution Reached</option>
        </select>
    </div>
        
    <div class="form-check form-check-inline">
        <label class="ms-4">Selected: </label>
        <label id="display_checkbox_count"><%= "0/#{@optimizations.size}" %></label>
    </div>

    <%= render 'optimizations' %></div>


    <% content_for :document_ready do %>
      let view = new App.OptimizationsIndex();
      view.start();
    <% end %>
  <% end %>

<% else %>

  <div class="alert alert-primary" role="alert">
    No optimization yet!
  </div>

  <div class="alert alert-info" role="alert">
    
    Please check out the following notebooks to see how to use the ONERA SEGO optimizer as a service:
    <ul>
      <li><a href="https://github.com/OneraHub/WhatsOpt-Doc/blob/df10d34bbfacd2a48574c60ce1a33daf58d423b4/whatsopt_segomoe.ipynb" target="_blank">
        mono-objective continuous optimization
      </a></li>
      <li><a href="https://github.com/OneraHub/WhatsOpt-Doc/blob/df10d34bbfacd2a48574c60ce1a33daf58d423b4/whatsopt_segmoomoe.ipynb" target="_blank">
        multi-objectives mixed-integer optimization
      </a></li>
    </ul>
  </div>

<% end %>

