<h2>Optimization #<%= @optimization.id %></h2>

<%= link_to "Show Log", optimization_download_url(@optimization.id, format: "log"), class: "btn btn-secondary ml-2" %>
<% if nb_points(@optimization.inputs).to_i > 0 %>
  <%= link_to "Export Csv", optimization_download_url(@optimization.id, format: "csv"), class: "btn btn-secondary ml-2" %>
<% end %>

<!--
<%= link_to "Add Input", edit_optimization_path(@optimization), class: "btn btn-primary ml-2"%>
-->

<div id="optim_viewer" optimization_data="<%= [@optimization].to_json %>" type="single"></div>

<%= render partial: "optimization_infos", locals: { optimizations: [@optimization]} %>

<%= javascript_pack_tag 'optim_viewer_application' %>