<h2>Optimization #<%= @optimization.id %></h2>

<%= link_to "Show Log", optimization_download_url(@optimization.id, format: "log"), class: "btn btn-secondary ms-2" %>
<% unless @optimization.inputs.blank? %>
  <%= link_to "Export History", optimization_download_url(@optimization.id, format: "csv"), class: "btn btn-secondary ms-2" %>
<% end %>
<% unless @optimization.x_best.blank? %>
  <%= link_to "Export Result", optimization_download_url(@optimization.id, format: "result_csv"), class: "btn btn-secondary ms-2" %>
<% end %>

<!--
<%= link_to "Add Input", edit_optimization_path(@optimization), class: "btn btn-primary ms-2"%>
-->

<div id="optim_viewer" data-optimization="<%= [@optimization].to_json %>"></div>

<%= render partial: "optimization_infos", locals: { optimizations: [@optimization]} %>

<%= javascript_pack_tag 'optim_viewer_application' %>