<p>
<table id="analyses" class="table table-striped">

  <thead>
    <tr>
      <th style="width: 5%">#</th>
      <th style="width: 20%">Name</th>
      <th style="width: 5%">Owner</th>
      <th style="width: 5%">Ownership</th>
      <th style="width: 10%">Tag</th>
      <th style="width: 12%">Updated</th>
      <th style="width: 30%">Operations</th>
      <th style="width: 13%">Action(s)</th>
    </tr>
  </thead>
  
  <tbody>
    <% @mdas.each do |mda| %>
      <tr>
        <td>#<%= mda.id %></td>
        <td><%= link_to_analysis_if_authorized(mda, current_user) %></td>
        <td><%= mda&.owner&.login %></td>
        <td>
          <% unless mda.public %>
            <i class="fas fa-user-secret" title="Analysis with restricted access"></i>
          <% end %>
          <% if mda.co_owners.count > 0 %>
            <i class="fas fa-users-gear" title="Analysis with co-owners"></i>
          <% end %> 
        </td>
        <td><%= badges(mda) %></td>
        <td><%= time_ago_in_words(mda.updated_at)%> ago</td>
        <td>
          <%= link_to_final_operations_if_authorized(mda, current_user) %>
          <% unless Operation.done(mda).empty? %>
            <%= link_to mda_operations_path(mda), 
              class: "btn btn-sm", title: "List Operations" do %>
              <i class="fas fa-ellipsis-v"></i> 
            <% end %>
          <% end %>
        </td>
        <td>
          <% if policy(mda).create? %>
            <%= link_to mdas_path(mda_id: mda), method: :post, 
              class: "btn btn-sm", title: "Copy" do %>
              <i class="fas fa-copy"></i> 
            <% end %>    
          <% end %>

          <% if policy(mda).update? %>
            <%= link_to edit_mda_path(mda), 
              class: "btn btn-sm", title: "Edit" do %>
              <i class="fas fa-edit"></i> 
            <% end %>    
          <% end %>
          
          <% if policy(mda).operate? %>      
              <%= link_to mda_operations_path(mda), method: :post, 
                class: "btn btn-sm", title: "Operate" do %>
                <i class="fas fa-rocket"></i> 
              <% end %>    
          <% end %>
          
          <% if policy(mda).destroy? %>
            <%= link_to mda_path(mda), method: :delete, data: { title: 'Are you sure?', 
                                                                confirm: "Remove #{mda.name} analysis?",
                                                                commit: 'Yes',
                                                                cancel: 'No, cancel' }, 
                class: "btn btn-sm text-danger", title:"Delete" do %>
                <i class="fas fa-times"></i> 
              <% end %>    
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</p>