<%= form_for(analysis, url: (analysis.new_record? ? mdas_path : mda_path(analysis)), :html => { :multipart => true, :role => "form" }) do |f| %>

  <%= render 'shared/alerts', object: analysis %>

  <div class="row">
	<div class=" col-4">
	  <div class="mb-3">
				<%= f.label :name %>
				<%= f.text_field :name, class: "form-control" %>
	  </div>
		  	
	  <div class="mb-3">
	    <%= f.submit "Submit", class: "btn btn-primary" %>
	    <%= f.submit "Cancel", class: "btn btn-secondary", name: "cancel_button" %>
	  </div>
	</div>
  </div>  
<% end %>
