<%= form_for(analysis, url: (analysis.new_record? ? mdas_path : mda_path(@mda)), :html => { :multipart => true, :role => "form" }) do |f| %>
  <% if @mda.errors.any? %>
    <% @mda.errors.full_messages.each do |message| %>
      <div class="alert <%= bootstrap_class_for :error %>" role="alert">
        <a href="#" data-dismiss="alert" class="close">×</a> 
        <%= message %>
      </div>
    <% end %>
  <% end %>
<p>
  <div class="form-group">
  <%= hidden_field_tag :import, @import %> 
  <% if @import %>
  	Excel (.xlsx) or XML CMDOWS (.xml, .cmdows) file
    <%= render "attachments/attachment_form", :f => f %>  
  <% else %>
	<%= f.label :name %>
	<%= f.text_field :name, class: "form-control" %>
  <% end %>
  </div>
</p> 	
  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary" %>
    <%= f.submit "Cancel", class: "btn", name: "cancel_button" %>
  </div>
<% end %>
