<h1>Multi Disciplinary Analyses</h1>

<p>
<!-- <%= link_to 'New MDA', new_mda_path, class: "btn btn-primary" %> -->
<%= link_to 'New', new_mda_path, class: "btn btn-primary" %>
<%= link_to 'Import', new_mda_path(import: true), class: "btn btn-primary" %>
</p>

<p>
<table class="table table-striped">

	<thead>
		<tr>
		  <th class="col-md-2">Name</th>
		  <th class="col-md-2">Owner</th>
		  <th class="col-md-3">Updated</th>
		  <th class="col-md-1">Action(s)</th>
		</tr>
	</thead>
  
	<tbody>
	  <% @mdas.each do |mda| %>
	    <tr>
	      <td><%= link_to mda.name, mda_path(mda) %></td>
          <td><%= mda.owner %></td>
          <td><%= time_ago_in_words(mda.updated_at) %> ago</td>
	      <td>
	        <% if policy(mda).update? %>
	          <%= link_to edit_mda_path(mda), class: "d-inline btn btn-light btn-inverse btn-sm" do %>
	            <i class="fa fa-pencil"></i> 
	          <% end %>    
	          <span class="ml-1"/>
	        <% end %>
	        <% if policy(mda).destroy? %>
	          <%= link_to mda_path(mda), method: :delete, data: { title: 'Are you sure?', 
	                                                              confirm: "Remove #{mda.name} analysis?",
	                                                              commit: 'Yes',
	                                                              cancel: 'No, cancel' }, 
	              class: "d-inline btn btn-light btn-inverse btn-sm text-danger" do %>
                <i class="fa fa-close"></i> 
              <% end %>    
	      	<% end %>
	      </td>
	    </tr>
	  <% end %>
  </tbody>
</table>
</p>

