<div class="btn-toolbar float-right">
  <div class="btn-group btn-group-toggle mr-2" data-toggle="buttons">
    <label class="btn btn-secondary <%= is_user_setting?('analyses_query', 'all') ? 'active':'' %>"  >
      <input type="radio" name="query_all" id="all" data-analyses-query="all" autocomplete="off" <%= is_user_setting?('analyses_query', 'all') ? 'checked':'' %> /> All
    </label>
    <label class="btn btn-secondary <%= is_user_setting?('analyses_query', 'mine')?'active':'' %>">
      <input type="radio" name="query_mine" id="mine" data-analyses-query="mine" autocomplete="off" <%= is_user_setting?("analyses_query", "mine")?"checked":"" %>/> Mine
    </label>
  </div>

  <%= link_to 'New', new_mda_path, class: "btn btn-primary ml-2" %>
  <%= link_to 'Import', new_mda_path(import: true), class: "btn btn-primary ml-2" %>
</div>

<h1>Multi Disciplinary Analyses</h1>

<div id="analyses"><%= render 'analyses' %></div>

<% content_for :document_ready do %>
<script>
  var relRoot = "<%= Rails.application.config.action_controller.relative_url_root %>";
  $("input[data-analyses-query]").on('change', function() {
    var query = $(this).data("analyses-query");
    $.ajax({
    type: "PATCH",
    xhrFields: { withCredentials: true },
    headers: {'Authorization': 'Token <%= current_user.api_key%>'},
    url: relRoot+'/api/v1/users/<%= current_user.id%>',
    data: {user: {settings:{analyses_query: query}}},
    success: function() {
      console.log(query+" analyses success");
      $.getScript(this.href);
    }
  })});
</script>
<% end %>

