<div class="btn-toolbar float-right">  
<% if policy(@mda).edit? %>
  <%= button_to edit_mda_url(@mda), method: :get, class:"btn" do |b|%>
    <span class="fa fa-pencil"></span>
      Edit
  <% end %>
<% end %>
<% if policy(@mda).operate? %>      
  <%= button_to new_mda_operation_url(@mda), method: :get, class:"btn ml-2" do |b|%>
    <span class="fa fa-rocket"></span>
      Operate
  <% end %>  
<% end %>
<% if policy(@mda).destroy? %>      
  <%= button_to operation_url(@mda), method: :delete, data: { title: 'Are you sure?', 
                                                              confirm: "Remove #{@mda.name} analysis?",
                                                              commit: 'Yes',
                                                              cancel: 'No, cancel' }, 
                  class: "btn ml-2", title:"Delete" do %>
    <span class="fa fa-close"></span>
      Delete
  <% end %> 
<% end %>  
  <%= button_to mdas_url, method: :get, class:"btn ml-2" do |b|%>
    <span class="fa fa-times-circle"></span>
      Close
  <% end %>      
</div>
      

<h1><%= @mda.name %></h1>

<% if @mda.attachment %>
<p>
  <small>created from <%= link_to @mda.attachment.data_file_name, attachment_path(@mda.attachment) %> by <%= @mda.owner %></small>
</p>
<% end %>

<div id="mda-viewer" data-mda="<%= @mda.to_mda_viewer_json %>" data-is-editing="false" data-api-key="<%=current_user.api_key%>"></div> 

<script>var API_KEY = "<%=current_user.api_key%>"</script>

<%= javascript_pack_tag 'mda_viewer_application' %>
 
