<div class="btn-toolbar float-end">
  <% unless @mda.operations.empty? %>
  <%= button_to mda_operations_path(@mda), method: :get, class: "btn ms-2", title:"List Operations" do %>
  <span class="fa fa-ellipsis-v"></span>
  List Operations
  <% end %>
  <% end %>
  <% if policy(@mda).create? %>
  <%= button_to mdas_path(mda_id: @mda), method: :post, class:"btn" do |b|%>
  <span class="fa fa-copy"></span>
  Copy
  <% end %>
  <% end %>
  <% if policy(@mda).edit? || policy(@mda).unlock?%>
  <%= button_to edit_mda_path(@mda), method: :get, class:"btn" do |b|%>
  <span class="fa fa-edit"></span>
  Edit
  <% end %>
  <% end %>
  <% if policy(@mda).operate? %>
  <%= button_to mda_operations_path(@mda), method: :post, class:"btn ms-2" do |b|%>
  <span class="fa fa-rocket"></span>
  Operate
  <% end %>
  <% end %>
  <% if policy(@mda).destroy? %>
  <%= button_to mda_path(@mda), method: :delete, 
      data: { confirm: "Remove #{@mda.name} analysis?" }, 
      class: "btn ms-2", title:"Delete" do %>
  <span class="fa fa-times"></span>
  Delete
  <% end %>
  <% end %>
  <%= button_to mdas_path, method: :get, class:"btn ms-2" do |b|%>
  <span class="fa fa-window-close"></span>
  Close
  <% end %>
</div>


<h1><%= link_to_design_project_if_any(@mda) %><%= @mda.name%> 
  <small>
    <%= "(##{@mda.id})"%>
    <% if @mda.locked %>
      <i class="fas fa-lock" title="Analysis is readonly"></i>
    <% end %>
    <% unless @mda.public %>
      <i class="fas fa-user-secret" title="Analysis with restricted access"></i>
    <% end %>
    <% if @mda.co_owners.count > 0 %>
      <i class="fas fa-users-cog" title="Analysis has co-owners"></i>
    <% end %>
    <small class="text-muted mb-2">
      <div class="mb-2" style="font-size: 0.75rem">by <%= owners(@mda) %></div>
    </small>
  </small>
</h1>
<div class="mb-2" style="font-size: 0.75rem"><%= badges(@mda) %></div>

<div id="mda-viewer" data-mda="<%= @mda.to_whatsopt_ui_json %>" data-is-editing="false" data-api-key="<%=current_user.api_key%>"></div>

<script>
  var API_KEY = "<%=current_user.api_key%>"
</script>

<%= append_javascript_pack_tag 'mda_viewer_application' %>