<%= form_for @study, :html => { :multipart => true, :role => "form" } do |f| %>

  <div class="form-group row">
    <%= f.label :name, "Name", class:"col-md-2 col-form-label"  %>
    <div class="col-md-4">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>  

  <div class="form-group row">
    <%= f.label :attachment, "Notebook", class:"col-md-2 col-form-label" %>
    <div class="col-md-4">
      <%= render "attachments/attachment_form", :f => f %>  
    </div>
  </div>

  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary" %>
    <%= f.submit "Cancel", class: "btn", name: "cancel_button" %>
  </div>
<% end %>
