<%= form_for(multi_disciplinary_analysis) do |f| %>

<p>
  <div class="form-group row">
  <% if @import %>
   	<div class="col-md-4">
     	<%= render "attachments/attachment_form", :f => f %>  
   	</div>
  <% else %>
	<div class="col-md-8">
		<%= f.label :name %>
	    <%= f.text_field :name %>
	</div>
  <% end %>
  </div>
</p> 	
  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary" %>
    <%= f.submit "Cancel", class: "btn", name: "cancel_button" %>
  </div>
<% end %>
