<%= form_for(multi_disciplinary_analysis, :html => { :multipart => true, :role => "form" }) do |f| %>
  <% if @mda.errors.any? %>
    <% @mda.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
<p>
  <div class="form-group">
  <% if @import %>
  	<%= f.label 'Excel xlsm file' %>
    <%= render "attachments/attachment_form", :f => f %>  
  <% else %>
		<%= f.label :name %>
		<%= f.text_field :name, class: "form-control" %>
  <% end %>
  </div>
</p> 	
  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary" %>
    <%= f.submit "Cancel", class: "btn", name: "cancel_button" %>
  </div>
<% end %>
