<h1>Multi Disciplinary Analyses</h1>

<p>
<!-- <%= link_to 'New MDA', new_mda_path, class: "btn btn-primary" %> -->
<%= link_to 'Import MDA', new_mda_path(import: true), class: "btn btn-primary" %>
</p>

<p>
<table class="table table-striped">

	<thead>
		<tr>
		  <th class="col-md-2">Name</th>
		  <th class="col-md-2">Owner</th>
		  <th class="col-md-3">Creation</th>
		  <th class="col-md-1">Action(s)</th>
		</tr>
	</thead>
  
	<tbody>
	  <% @mdas.each do |mda| %>
	    <tr>
	      <td><%= link_to mda.name, mda_path(mda) %></td>
          <td><%= mda.owner %></td>
          <td><%= time_ago_in_words(mda.created_at) %> ago</td>
	      <td>
	        <% if policy(mda).destroy? %>
	      	  <%= link_to 'Edit', edit_mda_path(mda) %> |
	      	  <%= link_to 'Delete', mda_path(mda), method: :delete, data: { confirm: 'Are you sure?' } %>
	      	<% else %>
	      	  None
	      	<% end %>
	      </td>
	    </tr>
	  <% end %>
  </tbody>
</table>
</p>

