<h1>MDA <%= @mda.name %></h1>

<% if @mda.attachment %>
<p>
  <small>created from <%= link_to @mda.attachment.data_file_name, attachment_path(@mda.attachment) %> by <%= @mda.owner %></small>
</p>
<% end %>


  <div id="mda-viewer"></div>


<%= link_to 'Back', mdas_path %>
  
<script>var MDA = <%= raw @mda.to_json %></script>

<% if Rails.env == 'development' %>
  <% if `hostname` =~ /(rdri206h)/ %>
    <script src="http://rdri206h:8080/packs/mda_viewer_application.js"></script>
    <!-- <script src="http://127.0.0.1:8080/packs/mda_viewer_application.js"></script> -->
  <% elsif `hostname` =~ /(endymion)/%>
    <script src="http://endymion:8080/packs/mda_viewer_application.js"></script>
    <!-- <script src="http://127.0.0.1:8080/packs/mda_viewer_application.js"></script> -->
  <% else %>
    <script src="http://192.168.99.100:8080/packs/mda_viewer_application.js"></script>
  <% end %>    
<% else %>
  <%= javascript_pack_tag 'mda_viewer_application' %>
<% end%>
 
