<h1><%= "FAST-OAD Conf. #{@fastoad_config.name}" %></h1>

<%= render 'shared/alerts', object: fastoad_config %>

<h2>General</h2>
<table class="table">
<tr>
    <th>Version</th>
    <td><%= @fastoad_config.version %></td>
</tr>
<tr>
    <th>Reference</th>
    <td><%= analysis_name_and_id(@fastoad_config.analysis, current_user) %></td>
</tr>
<tr>
    <th>Custom</th>
    <td>
    <% if @fastoad_config.custom_analysis %> 
      <%= analysis_name_and_id(@fastoad_config.custom_analysis, current_user) %>
    <% else %>
      <div class="btn">
        <%= link_to 'Custom Analysis', fastoad_config_path(@fastoad_config), method: :patch, class: "btn btn-primary ms-2" %>
      </div>
    <% end %>
    </td>
</tr>
<tr>
    <th style="width: 10%">Module Folders</th>
    <td><%= @fastoad_config.module_folders %></td>
</tr>
<tr>
    <th>InputFile</th>
    <td><%= @fastoad_config.input_file %></td>
</tr>
<tr>
    <th>OutputFile</th>
    <td><%= @fastoad_config.output_file %></td>
</tr>
</table>

<h2>New Modules</h2>
<table class="table table-striped">
<thead>
<tr>
    <th>Name</th>
    <th>FAST-OAD Id</th>
</tr>
</thead>

<tbody>
  <% @fastoad_config.custom_modules.each do |mod| %>
  <tr>
    <td><%= mod.name %></td>
    <td><%= mod.fastoad_id %></td>
  </tr>
  <% end %>
</tbody>
</table>


<h2>FAST-OAD <%= @fastoad_config.version %> Modules</h2>
<table class="table table-striped">
<thead>
<tr>
    <th>Name</th>
    <th>FAST-OAD Id</th>
</tr>
</thead>

<tbody>
  <% @fastoad_config.fastoad_modules.each do |mod| %>
  <tr>
    <td><%= mod.name %></td>
    <td><%= mod.fastoad_id %></td>
  </tr>
  <% end %>
</tbody>
</table>
