<%= render 'operations/toolbar', ope: @ope %>

<div id="metamodel_quality_plotter" data-mda-name="<%= @mm.analysis.name %>" data-meta-model-id="<%= @mm.id %>" data-api-key="<%=current_user.api_key%>"></div> 
<%= append_javascript_pack_tag 'metamodel_quality_plotter_application' %>
