<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>WhatsOpt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
	    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">WhatsOpt</a>
        </div>
	<div class="collapse navbar-collapse" id="navbar">
	  <ul class="nav navbar-nav navbar-right">
	    <% if user_signed_in? %>
	      <li><p class="navbar-text">Signed in as <%=current_user.login%></li>
              <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
	    <% else %>
              <li><%= link_to "Log in", new_user_session_path %></li>
	    <% end %>
	  </ul>
	</div>
      </div>
    </nav>

    <div class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
    </div> <!-- /container -->   
</body>
</html>
