<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>WhatsOpt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-dark bg-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">WhatsOpt</a>
	<ul class="nav navbar-nav float-xs-left">
	  <li class="nav-item"><%= link_to "Projects", :projects, class: "nav-link" %></li>
	  <li class="nav-item"><%= link_to "Notebooks", :notebooks, class: "nav-link" %></li>
        </ul>
	<ul class="nav navbar-nav float-xs-right">
	  <% if user_signed_in? %>
	    <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.login %></a>
	      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
		<%= link_to "My Profile", user_path(current_user), class: "dropdown-item" %>
		<div class="dropdown-divider"></div>
		<%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
	      </div>
	    </li>
	  <% else %>
            <li class="nav-item nav-link"><%= link_to "Log in", new_user_session_path %></li>
	  <% end %>
	</ul>
      </div>
    </nav>

    <div class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
    </div> <!-- /container -->   
</body>
</html>
