<div class="btn-toolbar float-right">
<%= button_to mda_url(ope.analysis), method: :get, class:"btn ml-2" do |b|%>
  <span class="fa fa-times-circle"></span>
    Close
<% end %>  
</div>

<h1>Operation on <%= ope.analysis.name %></h1>

<div id="runner" data-mda="<%= ope.analysis.to_mda_viewer_json %>" 
                 data-ope="<%= ActiveModelSerializers::SerializableResource.new(ope).to_json %>" 
                 data-api-key="<%= current_user.api_key %>"
                 data-ws-server="<%= root_url(root_url, protocol: 'ws') %>"></div> 

<%= javascript_pack_tag 'runner_application' %>
