<h1>Operation for <%= @ope.analysis.name %> on <%= @host %></h1>

<div id="runner" data-mda="<%= @ope.analysis.to_mda_viewer_json %>" data-ope="<%= @ope.to_json %>" data-api-key="<%=current_user.api_key%>"></div> 

<script>var API_KEY = "<%=current_user.api_key%>"</script>

<%= javascript_pack_tag 'runner_application' %>
