<div class="btn-toolbar float-end">
  <%= button_to 'New', mda_operations_path(@mda), title: "Operate #{@mda.name}", method: 'post', class: "btn btn-primary" %>
  <%= button_to mdas_url, method: :get, class:"btn ms-2" do |b|%>
    <span class="fa fa-times-circle"></span>
      Close
  <% end %>   
</div>
  
<h1>Operations on <%=@mda.name%></h1>

<div id='errorPlaceHolder'></div>

<p>
<table class="table table-striped">

	<thead>
		<tr>
      <th class="col-md-3">Name</th>
      <th class="col-md-1">Category</th>
      <th class="col-md-2">Driver</th>
      <th class="col-md-2">Date</th>
		  <th class="col-md-2">Action(s)</th>
		</tr>
	</thead>
  
	<tbody>
	  <% @operations.each do |ope| %>
	    <tr>
	      <td><%= link_to_operation_if_authorized(ope, current_user) %></td>
        <td><%= ope.category.humanize %></td>
        <td><%= ope.driver.humanize(capitalize: false) %></td>
	      <td title="<%= (ope.job && ope.job.started_at && ope.job.ended_at) ? 'Duration: '+distance_of_time_in_words(ope.job.started_at, ope.job.ended_at, include_seconds: true):""%>"><%= time_ago_in_words(ope.updated_at) %> ago</td>
	      <td>
          <% if policy(ope).update? %>
            <a href='#' name="edit-name" class="d-inline btn btn-light btn-inverse btn-sm" title="Edit name" data-api-key="<%=current_user.api_key%>" data-ope-id="<%= ope.id %>" data-ope-name="<%= ope.name %>" data-bs-toggle="modal" data-bs-target="#editModal">
              <i class="fa fa-edit"></i> 
            </a> 
            <% if ope.rerunnable? %>
              <%= link_to edit_operation_path(ope), 
                class: "d-inline btn btn-light btn-inverse btn-sm ms-2", title: "Re-run" do %>
                <i class="fa fa-undo"></i> 
              <% end %>  
            <% end %>  
	          <%= link_to operation_path(ope), method: :delete, data: { title: 'Are you sure?', 
	                                                                    confirm: "Remove #{ope.name} operation?",
	                                                                    commit: 'Yes',
	                                                                    cancel: 'No, cancel' }, 
	              class: "d-inline btn btn-light btn-inverse btn-sm text-danger ms-2", title:"Delete" do %>
                <i class="fa fa-times"></i> 
            <% end %>    
	      	<% end %>
	      </td>
	    </tr>
	  <% end %>
  </tbody>
</table>
</p>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Name</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="operation[name]" class="col-form-label">Operation Name</label>
            <input type="text" class="form-control" id="operation_name" name="operation[name]">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-save="true">Save</button>
      </div>
    </div>
  </div>
</div>

<% content_for :document_ready do %>
<script>
$(function() {
  var relativeUrlRoot = document.getElementsByName('relative-url-root')[0].getAttribute('content');
  var opeEdit = opeEdit || {}
  var $modal = $('#editModal');

  $modal.on('show.bs.modal', function(e) {
    opeEdit.invoker = $(e.relatedTarget);
    opeEdit.id = opeEdit.invoker.data('ope-id');
    opeEdit.name = opeEdit.invoker.data('ope-name');
    opeEdit.apiKey = opeEdit.invoker.data('api-key');
    $("input[name='operation[name]']").val(opeEdit.name);
  });

  $modal.on('shown.bs.modal', function() {
    $("input[name='operation[name]']").focus();
  });

  $('button[data-save="true"]').on('click', 
    function() {
      var newName = $("input[name='operation[name]']").val();
      $.ajax({
        type: "PATCH",
        xhrFields: { withCredentials: true },
        headers: {'Authorization': 'Token '+opeEdit.apiKey},
        url: relativeUrlRoot+'/api/v1/operations/'+opeEdit.id,
        data: {operation: {name: newName}},
        success: function() {
          $("a[id="+opeEdit.id+"]").text(newName);
          opeEdit.invoker.data('ope-name', newName);
          $modal.modal('hide');
        }, 
        error: function(xhr, status, error) {
          $('#errorPlaceHolder').html(
            '<div class="alert alert-warning" role="alert"><a href="#" data-dismiss="alert" class="close">×</a>'
            +  xhr.responseJSON.message
            +'</div>'
          );
          $modal.modal('hide');
        }, 
      });
    });
});
</script>
<% end %>
