<h1>New Operation for <%= @mda.name %></h1>

<div id="runner" data-mda="<%= @mda.to_mda_viewer_json %>" data-ope="<%= @ope %>" data-api-key="<%=current_user.api_key%>"></div> 

<script>var API_KEY = "<%=current_user.api_key%>"</script>

<%= javascript_pack_tag 'runner_application' %>
