<div class="btn-toolbar float-right">
<% if policy(@ope).edit? %>
  <%= button_to edit_operation_url(@ope), method: :get, class: "btn ml-2", title:"Re-run" do %>
    <span class="fa fa-rocket"></span>
    Re-run
  <% end %> 
<% end %>
<% if policy(@ope).destroy? %>
  <%= button_to operation_url(@ope), method: :delete, data: { title: 'Are you sure?', 
	                                                            confirm: "Remove #{@mda.name} #{@ope.name} operation?",
	                                                            commit: 'Yes',
	                                                            cancel: 'No, cancel' }, 
	              class: "btn ml-2", title:"Delete" do %>
    <span class="fa fa-times"></span>
      Delete
  <% end %> 
<% end %>
<%= button_to mda_url(@mda), method: :get, class:"btn ml-2" do |b|%>
  <span class="fa fa-times-circle"></span>
    Close
<% end %>      
</div>

<div id="plotter" data-mda="<%= @mda.to_mda_viewer_json %>" data-ope="<%= @ope.to_plotter_json %>" data-api-key="<%=current_user.api_key%>"></div> 

<%= javascript_pack_tag 'plotter_application' %>

